@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project6</h1>
    <p class="lead">  This is a simple MVC5 project using EntityFramework 6 on Northwind & default account databases.</p>
</div>

<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/CustomerIndex/">Go to Customer Index &raquo;</a></p>
    </div>
  
  
</div>